body,p{
    
    /*background-image:url("indexback.jpg");
    background-repeat:no-repeat;
    background-size:100%;
    background-attachment: fixed;*/
    
    font-family: 'Playfair Display', serif;/* font[serif] font for basic stuff */
}

body{ /* fixing the about page paragraph background */
    background-color:#f5f4f2; /* brownish-original lavender */
}

h1,h3,h4,th{ /* font for headings or important stuff that needs this */
    font-family: 'Spirax', cursive;
}

h1,h3,h4{ 
    font-size:25pt;
}

#nav{ /* nav bar list */
    list-style-type:none;
    margin:0; /* from top of screen */
    padding:0;
    overflow:hidden;
    /*
    background-color:white;
    */
}

#nav li{ /* nav bar position */
    float:left;
}

#nav li a{ /* nav bar words */
    display:block; /* size of nav bar */
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
    color:black;
}


#nav li a:hover{ /* hovering over nav bar words */
    /* background-color:#fccec7; light redish */
    text-decoration: underline;
}

#content{ /* this is for about page content */
    border: solid lightgrey 2px;
    width: 68%;
    margin-left:auto;
    margin-right:auto;
    margin-top:16px;
    padding-bottom: 16px;  /* padding is between content and border */
    padding-left:16px;
    padding-right:16px;
    text-align: center;
    background-color:rgba(255,255,255,0.4);
}

table{ /* table for about page */
    margin:auto;
}

#content ul, #content ol{ /* fixing the list in about page */
    width:25%;
    margin:auto;
}


#hr{ /* horizontal line */
    border:0;
    height:2px;
    box-shadow:3px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


.headers{ /* class for headers */
    text-align: center;
}

.centerhorizontal{ /* CENTER THE LINKS REEEE */
    display:table;
    margin:auto;
}



#notcontent{ /* this is for about page content */
    border: solid lightgrey 2px;
    width: 68%;
    margin-left:auto;
    margin-right:auto;
    margin-top:16px;
    padding-bottom: 16px;  /* padding is between content and border */
    padding-left:16px;
    padding-right:16px;
    background-color:rgba(255,255,255,0.4);
}


#notcontent h1{ /* resume */
    margin-left:auto;
    font-family: 'Playfair Display', serif;/* font[serif] font for basic stuff */
    font-size:25pt;
}

#notcontent h2{ /* resume */
    margin-left:auto;
    font-family: 'Playfair Display', serif;/* font[serif] font for basic stuff */
    font-size:18pt;
}

#notcontent h4{ /* resume */
    font-family: 'Playfair Display', serif;/* font[serif] font for basic stuff */
    font-size:12pt;
}

#notcontent h5{ /* resume */
    font-family: 'Playfair Display', serif;/* font[serif] font for basic stuff */
    font-size:12pt;
}

#notcontent p{ /* resume */
    font-family: 'Playfair Display', serif;/* font[serif] font for basic stuff */
    font-size:16pt;
    font-weight:bold;
}

#notcontent resumespecific{ /* resume */
    color: black;
    background-image: none;
}

.resumeheaders{ /* resume */
    text-align:center;
}

#ulresume{ /* resume */
    font-weight: bold;
}
